{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card p-4">
                <h3 class="text-center mb-4"  style="color: #ff4c29;">Gestionar Alumnos en Curso</h3>

                {% if messages %}
                    <div class="alert alert-info">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_codigo_curso">Código del Curso</label>
                        <input type="number" name="codigo_curso" id="id_codigo_curso" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="id_dni_alumno">DNI del Alumno</label>
                        <input type="text" name="dni_alumno" id="id_dni_alumno" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="id_accion">Acción</label>
                        <select name="accion" id="id_accion" class="form-control" required>
                            <option value="alta">Alta</option>
                            <option value="baja">Baja</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Ejecutar Acción</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


