<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>DBlandIT - Registro</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <style>
            body{
                background-color: #f4f4f4;
            }
            .btn-primary {
                background-color: #68c9c9;
                border-color: #68c9c9;
            }
            .navbar {
                background-color: #68c9c9; }
            .navbar-brand { color: #fff !important;
            }.card {
      background-color: #fff;
      border-radius: 10px;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">DBLANDIT</a>
  </nav>

  {% block content %}
  {% endblock %}

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>