{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center mb-4 mt-4">
                <h1 style="color: #ff4c29;">Detalle de la sede</h1>
            </div>
            <form method="get">
                <div class="form-group">
                    <label for="nombre">Nombre de la Sede</label>
                    <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Ingrese el nombre de la sede" value="{{ request.GET.nombre }}">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Buscar Sede</button>
            </form>
            {% if error %}
                <div class="alert alert-danger mt-4">
                    {{ error }}
                </div>
            {% endif %}
            {% if sede %}
                <div class="card mt-4">
                    <div class="card-body">
                        <h3 class="card-title">Datos de la sede</h3>
                        <p><strong>Nombre:</strong> {{ sede.nombre }}</p>
                        <p><strong>Dirección:</strong> {{ sede.direccion }}</p>
                        <p><strong>Ciudad:</strong> {{ sede.ciudad }}</p>
                        <p><strong>Telefono:</strong> {{ sede.telefono }}</p>
                        <p><strong>Cantidad de aulas:</strong> {{ sede.cant_aulas }}</p>
                    </div>
                </div>
                <div class="card mt-4">
                    <div class="card-body">
                        <h3 class="card-title">Cursos</h3>
                        {% if cursos %}
                            <ul class="list-group">
                                {% for curso in cursos %}
                                    <li class="list-group-item">
                                        <strong>Código Curso:</strong> {{ curso.codigo_curso }} - <strong>Tema:</strong> {{ curso.tema }} - 
                                        <strong>Estado:</strong> 
                                        {% if curso.es_activo %}
                                            Activo
                                        {% elif curso.no_ha_empezado %}
                                            Aún no comenzó
                                        {% else %}
                                            Finalizado
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>

                            <nav aria-label="Page navigation" class="mt-4">
                                <ul class="pagination justify-content-center">
                                    {% if cursos.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?nombre={{ request.GET.nombre }}&page={{ cursos.previous_page_number }}" aria-label="Anterior">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <span class="page-link">&laquo;</span>
                                        </li>
                                    {% endif %}

                                    {% for num in cursos.paginator.page_range %}
                                        {% if num == cursos.number %}
                                            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                                        {% else %}
                                            <li class="page-item">
                                                <a class="page-link" href="?nombre={{ request.GET.nombre }}&page={{ num }}">{{ num }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if cursos.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?nombre={{ request.GET.nombre }}&page={{ cursos.next_page_number }}" aria-label="Siguiente">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <span class="page-link">&raquo;</span>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        {% else %}
                            <p class="text-muted">No hay cursos en esta sede</p>
                        {% endif %}
                    </div>
                </div>
                
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}


